SUPABASE_URL=Your_Supabase_URL
SUPABASE_ANON_KEY=Your_Supabase_Key
# for Google Sign-In, get these from the Google Cloud Console
ANDROID_CLIENT=Your_Android_Client_ID
IOS_CLIENT=Your_iOS_Client_ID
WEB_CLIENT=Your_Web_Client_ID